#mark-table {
      width: 100%;
      font-family: Arial;
      font-size: 16px;
      border-collapse: collapse;
    }

    #mark-table td,
    #mark-table th {
      border: 1px solid #ddd;
      text-align: center;
      padding: 7px;
    }

    #mark-table th {
      padding: 12px 0 12px 10px;
      text-align: center;
      background-color: #4CAF50;
      color: WHITE;
    }

    #mark-table tr:nth-child(even) {
      background-color: #ccbaba;
    }

    #mark-table tr:hover {
      background-color: #ddd;
    }

    #mark-table tr:last-child {
      text-align: center;
      font-style: italic;
      background-color: #434343;
      color: WHITE;
    }

    .left-table {
      width: 100%;
      float: left;
    }
